<h2 class="text-center dash">{{username}}'S DASHBOARD</h2>
<br>
<div class="text-center">
    <span><a href="/users/mypolls"><i class="material-icons">dehaze</i></a></span>
    <span><a href="/users/addpoll"><i class="material-icons">add_circle_outline</i></a></span>
    <span><a href="/users/logout"><i class="material-icons">exit_to_app</i></a></span>
    <br>
    <span class="span-text">My Polls</span><span class="span-text">Add Poll</span><span class="span-text span-end"> Logout</span>
    </div>